html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

ul li {
  list-style: none;
}

ul li a {
  color: black;
  text-decoration: none;
}

.container2 {
  background-color: snow;
  -webkit-box-shadow: black;
          box-shadow: black;
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 10rem;
  border-style: solid;
  border-color: grey;
}

.container2 a {
  color: white;
}

.container2 p {
  color: black;
}

.container2 .text {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
}

.title {
  margin-top: 220px;
}

.title__name {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.title__labels {
  font-style: italic;
  text-align: center;
}

.title__list {
  text-align: center;
  margin-right: 50px;
}

.title__lists {
  text-decoration: underline;
}

.image-side {
  width: 400px;
}

.image-side__pic {
  text-align: center;
  width: 200%;
  border-radius: 50%;
}

nav.grid ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media (min-width: 600px) {
  nav.grid ul {
    -ms-grid-columns: 1fr (fit-content(50px))[3];
        grid-template-columns: 1fr repeat(3, fit-content(50px));
    grid-gap: 20px;
    justify-items: end;
  }
}

nav.grid .fullwidth {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 600px) {
  nav.grid .fullwidth {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.wrapper2 {
  margin: 0 auto;
  width: 90%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards li {
  border: 2px solid #490A3D;
  border-radius: 5px;
  background-color: white;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.cards h2 {
  background-color: black;
  margin: 0;
  padding: 10px;
}

.cards p {
  padding: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.flex li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  margin: 10px;
}

.text {
  color: black;
}

.story__card {
  background-color: snow;
  -webkit-box-shadow: black;
          box-shadow: black;
  margin: 4rem auto;
  max-width: 25rem;
  min-height: 1rem;
  border-style: solid;
  border-color: grey;
}

.story__title {
  text-align: center;
}

.story__chapter {
  text-align: center;
  text-decoration: underline;
}

.story__main {
  background-color: snow;
  -webkit-box-shadow: black;
          box-shadow: black;
  margin: 2rem auto;
  max-width: 200rem;
  min-height: 1rem;
  border-style: solid;
  border-color: grey;
}

.story__indented {
  padding-left: 50pt;
  padding-right: 50pt;
  line-height: 1.6;
}

.story__back {
  background-color: snow;
  -webkit-box-shadow: black;
          box-shadow: black;
  margin: 4rem auto;
  max-width: 8rem;
  min-height: 1rem;
  border-style: solid;
  border-color: grey;
  text-align: center;
  text-transform: uppercase;
}

.story__back a {
  color: black;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */